<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr class="tableHeader">
			<th>Meeting</th>
			<th>Chairman</th>
		</tr>
		{{range .}}<tr><td>{{ .meeting}}</td><td>{{ .chairman}}</td></tr>{{end}}
	</table>

</body>
</html>